@charset "utf-8";
*{margin:0; padding:0;}
ul,ol{list-style-type:none;}
a{color:#3D3D3D;text-decoration:none;}	


body { font-family: 'SUIT'; 
		font-size:14px; 
		color:#3D3D3D; 
		line-height:1.6;
}

#section1{
	width:1200px;
	margin:0 auto;
	
	
}

#section1 h1{
	font-size:80px;
	width:100%;
	margin:150px 0;
	color:#301561;
	text-align:center;
}


#section1 img{
	width:100%;
	display:block;
}

